[% USE KohaDates %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Acquisitions &rsaquo; [% UNLESS ( basketno ) %]New [% END %][% IF ( delete_confirm ) %]Delete [% END %]Basket [% basketname|html %] ([% basketno %]) for [% name|html %]</title>
[% INCLUDE 'doc-head-close.inc' %]
[% UNLESS ( closedate ) %]
<script type="text/javascript" src="[% themelang %]/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
//<![CDATA[
    $(document).ready(function() {
        $("#orders").tablesorter({
            headers: {
                9: { sorter: false },
                10: { sorter: false }
            }
        });
        $("#cancelledorderst").tablesorter();
    });
            function confirm_close() {
                var is_confirmed = confirm(_('Are you sure you want to close this basket?'));
                if (is_confirmed) {
                    window.location = "[% script_name %]?op=close&basketno=[% basketno %]";
                }
            }
            function confirm_deletion() {
                var is_confirmed = confirm(_('Are you sure you want to delete this basket?'));
                if (is_confirmed) {
                    window.location = "[% script_name %]?op=delete_confirm&basketno=[% basketno %]&booksellerid=[% booksellerid %]";
                }
            }
            function confirm_delete_item(ordernumber, biblionumber) {
                var is_confirmed = confirm(_('Are you sure you want to delete this order ?'));
                if (is_confirmed) {
                    window.location = "addorder.pl?ordernumber="+ordernumber+"&basketno=[% basketno %]&quantity=0&biblionumber="+biblionumber;
                }
            }
            
            function confirm_delete_biblio(ordernumber, biblionumber) {
                var is_confirmed = confirm(_('Are you sure you want to delete this catalog record and order ?'));
                if (is_confirmed) {
                    window.location = "addorder.pl?ordernumber="+ordernumber+"&basketno=[% basketno %]&quantity=0&biblionumber="+biblionumber+"&delbiblio=1";
                    }
            }

//]]>
</script>
[% ELSE %]
<script type="text/javascript">
//<![CDATA[
    $(document).ready(function(){
        $("#basketgroupid").change(function(){
            if($(this).val() == "new"){
                location.href="/cgi-bin/koha/acqui/basketgroup.pl?op=add&booksellerid=[% booksellerid %]";
            }
        });
    });
//]]>
</script>
[% UNLESS ( grouped ) %]
<script type="text/javascript">
//<![CDATA[
            function confirm_reopen(skip) {
                var is_confirmed = skip || confirm(_('Are you sure you want to reopen this basket?'));
                if (is_confirmed) {
                    window.location = "[% script_name %]?op=reopen&basketno=[% basketno %]";
                }
            }
//]]>
</script>
[% END %]
[% END %]
<style type="text/css">
.sortmsg {font-size: 80%;}
</style>
</head>
<body id="acq_basket" class="acq">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'acquisitions-search.inc' %]


<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/acqui/acqui-home.pl">Acquisitions</a> &rsaquo; <a href="/cgi-bin/koha/acqui/supplier.pl?booksellerid=[% booksellerid %]">[% name|html %]</a> &rsaquo; [% UNLESS ( basketno ) %]New [% END %][% IF ( delete_confirm ) %]Delete [% END %]Basket [% basketname|html %] ([% basketno %]) for [% name|html %]</div>

<div id="doc3" class="yui-t2">

<div id="bd">
    <div id="yui-main">
    <div class="yui-b">
        [% UNLESS ( confirm_close ) %]
        [% UNLESS ( selectbasketg ) %]
            [% UNLESS ( closedate ) %]
                <div id="toolbar">
                    <script type="text/javascript">
                        //<![CDATA[
                        // prepare DOM for YUI Toolbar
                        $(document).ready(function() {
                            yuiToolbar();
                        });
                        // YUI Toolbar Functions
                        function yuiToolbar() {
                            [% IF ( unclosable ) %]
                                new YAHOO.widget.Button("closebutton", {disabled:true});
                            [% ELSIF ( uncertainprices ) %]
                                new YAHOO.widget.Button("uncertpricesbutton");
                            [% ELSE %]
                                new YAHOO.widget.Button("closebutton");
                            [% END %]
                            new YAHOO.widget.Button("basketheadbutton");
                            new YAHOO.widget.Button("exportbutton");
                            new YAHOO.widget.Button("delbasketbutton");
                        }
                        //]]>
                    </script>

                    <ul id="toolbar-list" class="toolbar">
                    <li><a href="basketheader.pl?basketno=[% basketno %]&amp;op=add_form" class="button" id="basketheadbutton">Edit basket header information</a></li>
                    <li><a href="javascript:confirm_deletion();" class="button" id="delbasketbutton">Delete this basket</a></li>
                    [% IF ( unclosable ) %]
                    [% ELSIF ( uncertainprices ) %]
                        <li><a href="/cgi-bin/koha/acqui/uncertainprice.pl?booksellerid=[% booksellerid %]&amp;owner=1" class="button" id="uncertpricesbutton">Uncertain prices</a></li>
                    [% ELSE %]
                        <li><a href="[% script_name %]?op=close&amp;basketno=[% basketno %]&amp;booksellerid=[% booksellerid %]" class="button" id="closebutton">Close this basket</a></li>
                    [% END %]
                        <li><a href="[% script_name %]?op=export&amp;basketno=[% basketno %]&amp;booksellerid=[% booksellerid %]" class="button" id="exportbutton">Export this basket as CSV</a></li>
                    </ul>

                </div>
            [% ELSE %]
                [% UNLESS ( grouped ) %]
                <div id="toolbar">
                    <script type="text/javascript">
                        //<![CDATA[
                        // prepare DOM for YUI Toolbar
                        $(document).ready(function() {
                            yuiToolbar();
                        });
                        // YUI Toolbar Functions
                        function yuiToolbar() {
                            new YAHOO.widget.Button("reopenbutton");
                        }
                        //]]>
                    </script>
                        <ul id="toolbar-list" class="toolbar">
                            <li><a href="javascript:confirm_reopen([% skip_confirm_reopen %]);" class="button" id="reopenbutton">Reopen this basket</a></li>
                        </ul>
                </div>
                [% END %]
            [% END %]
            [% END %]

    [% IF ( NO_BOOKSELLER ) %]
    <h2>Vendor not found</h2>
    [% ELSE %]
        [% IF ( delete_confirmed ) %]
            <h3>Basket deleted</h3>
            <META HTTP-EQUIV=Refresh CONTENT="0; url=booksellers.pl">
        [% ELSE %]
        <h1>[% UNLESS ( basketno ) %]New [% END %][% IF ( delete_confirm ) %]Delete [% END %]Basket [% basketname|html %] ([% basketno %]) for <a href="supplier.pl?booksellerid=[% booksellerid %]">[% name|html %]</a></h1>
        [% IF ( delete_confirm ) %]
            <h2>
            <span class="yui-button yui-link-button">
            <em class="first-child">
                <a href="[% script_name %]?op=delete_confirm&amp;basketno=[% basketno %]&amp;booksellerid=[% booksellerid %]" class="yui-link-button">Yes, delete this basket!</a>
            </em>
            </span>
            <span class="yui-button yui-link-button">
            <em class="first-child">
                <a href="[% script_name %]?basketno=[% basketno %]" class="yui-link-button">Cancel</a>
            </em>
            </span>
            </h2>
        [% END %]
        [% IF ( basketno ) %]
            <div id="acqui_basket_summary" class="yui-g">
                <div class="rows">
                <div class="yui-u first">
                <ol>
                [% IF ( basketnote ) %]<li><span class="label">Internal note:</span> [% basketnote %]</li>[% END %]
                [% IF ( basketbooksellernote ) %]<li><span class="label">Vendor note:</span> [% basketbooksellernote %]</li>[% END %]
                [% IF ( basketcontractno ) %]
                    <li><span class="label">Contract name:</span> <a href="../admin/aqcontract.pl?op=add_form&amp;contractnumber=[% basketcontractno %]&amp;booksellerid=[% booksellerid %]">[% basketcontractname %]</a></li>
                [% END %]
                [% IF ( authorisedbyname ) %]<li><span class="label">Managed by:</span>  [% authorisedbyname %]</li>[% END %]
                [% IF ( creationdate ) %]<li><span class="label">Opened on:</span>  [% creationdate | $KohaDates %]</li>[% END %]
                [% IF ( closedate ) %]<li><span class="label">Closed on:</span> [% closedate | $KohaDates %]</li>[% END %]
                [% IF ( estimateddeliverydate ) %]<li><span class="label">Estimated delivery date:</span> [% estimateddeliverydate | $KohaDates  %]</li>[% END %]

                </ol>
                </div>
                [% IF ( closedate ) %]
                <div class="yui-u">
                    <form action="/cgi-bin/koha/acqui/basketgroup.pl" method="post">

                        <p><label for="basketgroupid"><strong>Basket group:</strong></label></p>
                        <p><select id="basketgroupid" name="basketgroupid">
                            <option value="new">Add new group</option>
                                                    [% FOREACH basketgroup IN basketgroups %]
                                                        [% IF ( basketgroup.default ) %]
                            <option value="[% basketgroup.id %]" selected="selected">[% basketgroup.name %]</option>
                                                        [% ELSE %]
                            <option value="[% basketgroup.id %]">[% basketgroup.name %]</option>
                                                        [% END %]
                                                    [% END %]
                        </select></p>

                        <p><input type="hidden" id="basketno" value="[% basketno %]" name="basketno" />
                        <input type="hidden" value="mod_basket" name="op" />
                        <input type="hidden" name="booksellerid" value="[% booksellerid %]" />
                        <input type="submit" value="Change basket group" /></p>

                    </form>
                </div>
                [% END %]
            </div>
            </div>
        [% END %]

        [% UNLESS ( delete_confirm ) %]
        <div id="acqui_basket_content" class="yui-g">
        [% IF ( books_loop ) %]
        <h2>Orders</h2>
            <table id="orders">
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>RRP</th>
                        <th>Est.</th>
                        <th>Qty.</th>
                        <th>Total</th>
                        <th>Fund</th>
                        [% IF ( active ) %]
                            [% UNLESS ( closedate ) %]
                                <th>Modify</th>
                                <th>Delete</th>
                            [% END %]
                        [% END %]
                    </tr>
                </thead>
                <tfoot>
                [% IF ( GST ) %]
                <tr>
                    <th scope="row">Total tax exc.</th>
                    <td>[% total_rrp_gste %]</td>
                    <td>&nbsp;</td>
                    <td>[% qty_total %]</td>
                    <td>[% total_est_gste %]</td>
                        [% IF ( active ) %]
                            [% IF ( closedate ) %]
                            <td colspan="1" rowspan="3">&nbsp;</td>
                            [% ELSE %]
                            <td colspan="3" rowspan="3">&nbsp;</td>
                            [% END %]
                        [% END %]
                </tr>
                <tr>
                    <th scope="row">Tax ([% gist_rate %])</th>
                    <td>[% gist_rrp %]</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>[% gist_est %]</td>
                </tr>
                <tr>
                    <th scope="row">Total tax inc. ([% currency %])</th>
                    <td>[% total_rrp_gsti %]</td>
                    <td>&nbsp;</td>
                    <td>[% qty_total %]</td>
                    <td>[% total_est_gsti %]</td>
                </tr>
                [% ELSE %]
                <tr>
                    <th scope="row">Total ([% currency %])</th>
                    <td>[% total_rrp_gsti %]</td>
                    <td>&nbsp;</td>
                    <td>[% qty_total %]</td>
                    <td>[% total_est_gsti %]</td>
                    <td colspan="3">&nbsp;</td>
                </tr>
                [% END %]
                </tfoot>
                <tbody>
                [% FOREACH books_loo IN books_loop %]
                    [% IF ( books_loo.order_received ) %]<tr class="disabled">[% ELSE %][% IF ( books_loo.toggle ) %]<tr class="highlight">[% ELSE %]<tr>[% END %][% END %]
                        <td>
                            <p>[% IF ( books_loo.order_received ) %] (rcvd)[% END %]
                                <a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=[% books_loo.biblionumber %]">[% books_loo.title |html %]</a> by [% books_loo.author %]
                                <br />
                                [% IF ( books_loo.isbn ) %] - [% books_loo.isbn %][% END %]
                                [% IF ( books_loo.issn ) %] - [% books_loo.issn %][% END %]
                                [% IF ( books_loo.publishercode ) %], [% books_loo.publishercode %][% END %]
                                [% IF ( books_loo.publicationyear ) %], [% books_loo.publicationyear %][% END %]
                                [% IF ( books_loo.editionstatement ) %], [% books_loo.editionstatement %][% END %]
                                [% IF ( books_loo.suggestionid ) %]
                                    <br/>
                                    Suggested by: [% books_loo.surnamesuggestedby %][% IF ( books_loo.firstnamesuggestedby ) %], [% books_loo.firstnamesuggestedby %] [% END %]
                                    (<a href="/cgi-bin/koha/suggestion/suggestion.pl?suggestionid=[% books_loo.suggestionid %]&amp;op=show">suggestion #[% books_loo.suggestionid %]</a>)
                                [% END %]
                                [% IF ( books_loo.notes ) %]
                                    <p class="ordernote"><strong>Note: </strong>[% books_loo.notes|html %] [<a href="/cgi-bin/koha/acqui/modordernotes.pl?ordernumber=[% books_loo.ordernumber %]">Change note</a>]</p>
                                [% ELSE %]
                                    [<a href="/cgi-bin/koha/acqui/modordernotes.pl?ordernumber=[% books_loo.ordernumber %]">Add note</a>]
                                [% END %]
                            </p>
                        </td>
                        <td class="number [% IF books_loo.rrp.search('^0') %]error[% END %]">[% books_loo.rrp %]</td>
                        <td class="number [% IF books_loo.ecost.search('^0') %]error[% END %]">[% books_loo.ecost %]</td>
                        <td class="number [% IF books_loo.quantity.search('^0') %]error[% END %]">[% books_loo.quantity %]</td>
                        <td class="number [% IF books_loo.line_total.search('^0') %]error[% END %]">[% books_loo.line_total %]</td>
                        <td>[% books_loo.budget_name %]</td>
                        [% IF ( active ) %]
                            [% UNLESS ( closedate ) %]
                            <td>
                                <a href="neworderempty.pl?ordernumber=[% books_loo.ordernumber %]&amp;booksellerid=[% booksellerid %]&amp;basketno=[% basketno %]">Modify</a>
                            </td>
                            <td>
                            [% IF ( books_loo.left_holds_on_order ) %]
                            <span class="button" title="Can't delete order, ([% books_loo.holds_on_order %]) holds are linked with this order cancel holds first">Can't delete order</span><br>
                            [% ELSE %]
                            <a href="javascript:confirm_delete_item([% books_loo.ordernumber %],[% books_loo.biblionumber %])" class="button">Delete order</a><br>
                            [% END %]
                            [% IF ( books_loo.can_del_bib ) %]
                            <a href="javascript:confirm_delete_biblio([% books_loo.ordernumber %],[% books_loo.biblionumber %])" class="button">Delete order and catalog record</a><br>
                            [% ELSE %]
                            <span class="button" title="Can't delete catalog record, see constraints below">Can't delete order and catalog record</span><br>
                            [% END %]
                            [% IF ( books_loo.left_item ) %]
                            <b title="Can't delete catalog record, because of [% books_loo.items %] existing hold(s)" >[% books_loo.items %] item(s) left</b><br>
                            [% END %]
                            [% IF ( books_loo.left_biblio ) %]
                            <b title="Can't delete catalog record, delete other orders linked to it first">[% books_loo.biblios %] order(s) left</b><br>
                            [% END %]
                            [% IF ( books_loo.left_subscription ) %]
                            <b title="Can't delete catalog record, delete subscriptions first">[% books_loo.subscriptions %] subscription(s) left</b><br>
                            [% END %]
                            [% IF ( books_loo.left_holds ) %]
                            <b title="Can't delete catalog record or order, cancel holds first">[% books_loo.holds %] hold(s) left</b>
                            [% END %]
                            </td>
                            [% END %]
                        [% END %]
                    </tr>
                [% END %]
                </tbody>
            </table>
        [% END %]
        [% IF ( listincgst ) %]<small class="highlight">** Vendor's listings already include tax.</small>
        [% END %]
        </div>
        [% IF (cancelledorders_loop) %]
          <div id="cancelledorders">
            <h2>Cancelled orders</h2>
            <table id="cancelledorderst">
              <thead>
                <tr>
                  <th>Order</th>
                  <th>RRP</th>
                  <th>Est.</th>
                  <th>Qty.</th>
                  <th>Total</th>
                  <th>Fund</th>
                </tr>
              </thead>
              <tbody>
                [% FOREACH order IN cancelledorders_loop %]
                  <tr style="color:grey">
                    <td>
                      <p>
                        [% IF ( order.order_received ) %] (rcvd)[% END %]
                        [% IF (order.title) %]
                          [% order.title |html %] by [% order.author %]<br />
                        [% ELSE %]
                          <em>Deleted bibliographic record, can't find title</em><br />
                        [% END %]
                        [% IF ( order.notes ) %] [% order.notes %][% END %]
                        [% IF ( order.isbn ) %] - [% order.isbn %][% END %]
                        [% IF ( order.issn ) %] - [% order.issn %][% END %]
                        [% IF ( order.publishercode ) %], [% order.publishercode %][% END %]
                        [% IF ( order.publicationyear ) %], [% order.publicationyear %][% END %]
                        [% IF ( books_loo.editionstatement ) %], [% books_loo.editionstatement %][% END %]
                      </p>
                    </td>
                    <td><p>[% order.rrp %]</p></td>
                    <td><p>[% order.ecost %]</p></td>
                    <td><p>[% order.quantity %]</p></td>
                    <td><p>[% order.line_total %]</p></td>
                    <td><p>[% order.budget_name %]</p></td>
                  </tr>
                [% END %]
              </tbody>
            </table>
          </div>
        [% END %]
        <br />
        [% UNLESS ( closedate ) %]
        [% INCLUDE 'acquisitions-add-to-basket.inc' %]
        [% END %]
        [% END %]
[% END %]
[% END %]    [% ELSE %] <!-- if we want just to select a basketgroup for a closed basket -->
    [% END %]
[% IF ( confirm_close ) %]
        <div id="closebasket_needsconfirmation" class="dialog alert">

        <form action="/cgi-bin/koha/acqui/basket.pl" class="confirm">
            <h1>Are you sure you want to close basket [% basketname|html %]?</h1>
            <p>
            <label for="createbasketgroup">Attach this basket to a new basket group with the same name</label>
            <input type="checkbox" id="createbasketgroup" name="createbasketgroup"/>
            </p>
            <input type="hidden" id="basketno" value="[% basketno %]" name="basketno" />
            <input type="hidden" value="close" name="op" />
            <input type="hidden" name="booksellerid" value="[% booksellerid %]" />
            <input type="hidden" name="confirm" value="1" />
            <input type="hidden" name="basketgroupname" value="[% basketgroupname %]" />
            <input type="submit" class="approve" value="Yes, close (Y)" accesskey="y" />
            <input type="submit" class="deny" value="No, don't close (N)" accesskey="n" onclick="javascript:window.location='/cgi-bin/koha/acqui/basket.pl?basketno=[% basketno %]';return false;" />
        </form>
        </div>
    [% END %]
</div>
</div>
<div class="yui-b">
[% INCLUDE 'acquisitions-menu.inc' %]
</div>
</div>
[% INCLUDE 'intranet-bottom.inc' %]
